@page 
@model TicketApp.Pages.TicketDetailsPage3Model
@{
    //var id = long.Parse( (string)RouteData.Values["id"]);

}




    <table border="1" width="100%">
        <thead>
            <tr>
                <th>Subject</th>
                <th>Description</th>
                <th>Date</th>
                <th>Customer Name </th>
            </tr>
        </thead>
        <tbody>


            <tr>
                <td>
                    <input asp-for="TicketInput.Subject" />
                    <span></span>
                </td>
                <td>
                    <input asp-for="TicketInput.Description" />
                </td>
                <td>
                    <input asp-for="TicketInput.OpenDate" />
                </td>

                <td>

                    <input asp-for="TicketInput.CustomerId" />
                </td>



</tbody>



    </table>
    <form method="post">

        

            <p>Please select priority of task</p>

                
            @Html.HiddenFor(x => x.ID, ViewData["Id"])

            @foreach (var item in Enum.GetValues(typeof(Models.LevelofDificulty )) )
            {
                @Html.RadioButtonFor(m => m.DifficultlyLevel, item) @item.ToString()
            }

            
            
            <p>Please select priority of task</p>

            @foreach (var item in Enum.GetValues(typeof(Models.Priortiy )) )
            {
                @Html.RadioButtonFor(m => m.priority, item) @item.ToString()
            }

             <input type="submit" value="SetDifficultLevelandPriority" asp-page-handler="SetDifficultLevelandPriority">
   
            <br /><br />


        

    </form>





